@font-face {
  font-family: "Poppins-bold";
  src: url(assets/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins-regular";
  src: url(assets/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins-medium";
  src: url(assets/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Poppins-light";
  src: url(assets/Poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: "Poppins-semibold";
  src: url(assets/Poppins/Poppins-SemiBold.ttf);
}
body {
  margin: 0px;
  user-select: none;
}
.container {
  margin-right: 200px;
  margin-left: 200px;
}
nav {
  display: flex;
  margin: 60px 200px 0px 200px;
}
.icon-header {
  margin-right: 73px;
}
.nav-btn {
  border: 0px;
  background-color: white;
  font-family: "Poppins-regular";
  font-size: 18px;
  margin-right: 24px;
  cursor:pointer ;
}
.nav-btn:hover {
  color: #4361ee;
}
.hamburger {
  display: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}
.nav-link {
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 60px;
  right: 200px;
}
.nav-link > a {
  margin-bottom: 24px;
  font-size: 0px;
}
.container-landing{
  display: flex;
  justify-content:left;
  align-items: center;
  margin:0px 200px ;
}
.landing {
  font-family: "Poppins-bold";
  font-size: 40px;
  margin-top: 140px;
  width: fit-content;
}
.landing > h1 {
  width: fit-content;
  margin: 0px;
  display: flex;
  align-items: center;
}
.landing > h1 > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4361ee;
  border: none;
  color: #ffffff;
  font-family: poppins-light;
  width: 210px;
  height: 54px;
  font-size: 20.2px;
  border-radius: 50px;
  margin-left: 37px;
}
.landing-img {
  z-index: -1;
  position: absolute;
  left: 55.52%;
  right: 6.2%;
  top: 13.5%;
  bottom: 85.58%;
  mix-blend-mode: normal;
}

.landing > p {
  font-family: "Poppins-regular";
  font-size: 20.2px;
  margin-top: 24px;
  max-width: 794px;
  line-height: 38px;
  color: #767676;
  margin-bottom: 40px;
}
.icon-achiv {
  display: flex;
}
.achiv-icon {
  margin: 0px 25px 12px 25px;
}

.achiv > h4 {
  font-size: 16px;
  font-family: "Poppins-semibold";
  justify-content: center;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  margin-top: 0px;
}
.achiv > p {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: "Poppins-regular";
  margin-bottom: 52px;
  margin-top: 0px;
}
.achiv {
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-blue {
  background-color: #4361ee;
  color: #ffffff;
  font-size: 20px;
  font-family: "Poppins-regular";
  width: 308px;
  height: 70px;
  border: none;
  margin-bottom: 129px;
  cursor:pointer ;
}
.completed-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1a1a1a;
  color: #ffffff;
}
.completed-project > h1 {
  color: #ffffff;
  font-size: 36px;
  height: fit-content;
  font-family: "Poppins-bold";
  display: flex;
  justify-content: center;
  padding-top: 100px;
  margin: 0px;
  margin-bottom: 100px;
}
.completed-project > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.h2-number {
  font-size: 40px;
  font-family: "Poppins-bold";
  margin-top: 12px;
  margin-bottom: 32px;
}
.icon-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  font-size: 24px;
  height: fit-content;
  font-family: "Poppins-medium";
  margin: 0px 100px;
  margin-bottom: 100px;
}
.icon-card > p {
  margin: 0px;
}
.recent-project > h1 {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  font-family: "Poppins-bold";
  font-size: 36px;
  margin-bottom: 10px;
}
.recent-project > span {
  display: flex;
  justify-content: center;
  padding-left: 140px;
}
.recent-project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 100px 0px 180px 0px;
}
.project-card {
  margin: 0px 10px 20px 10px;
  width: 500px;
  height: 550px;
  background-color: #efefef;
  position: relative;
  overflow: hidden;
}
.project-card > h2 {
  font-family: "Poppins-semibold";
  font-size: 24px;
  font-weight: 600;
  margin: 32px 32px 6px 32px;
}
.project-card > h4 {
  font-family: "Poppins-regular";
  color: #848484;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0px 32px 16px 32px;
}
.project-card > p {
  font-family: "Poppins-regular";
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin: 0px 32px 40px 32px;
  letter-spacing: 0.4px;
}
.project-card > img {
  text-align: center;
}
.project-card > h5 {
  font-family: "Poppins-regular";
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  display: flex;
  top: 100px;
  right: 204px;
  z-index: -1;
}
.project-card > div {
  overflow: hidden;
  height: 300px;
  /* display: flex; */
}
.project-card:hover > div > img {
  transition: 300ms;
  z-index: -2;
  filter: blur(4px);
  transform: scale(1.2);
}
.project-card:hover > h5 {
  transition: 300ms;
  z-index: 0;
}
.random-animate {
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.animate-container-forward {
  display: flex;
  position: relative;
  justify-content: space-between;
  animation: icon-animate-back 30s infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
  left: 0;
}
.animate-container-back {
  display: flex;
  position: relative;
  justify-content: space-between;
  animation: icon-animate-back 30s infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
  left: 0;
}
.random-animate > div > img {
  margin-right: 40px;
}
@keyframes icon-animate-forward {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes icon-animate-back {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.design-portfolio {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  text-align: center;
}
.design-portfolio > h1 {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  font-family: "Poppins-bold";
  font-size: 36px;
  margin-bottom: 10px;
}
.design-portfolio > span {
  display: flex;
  justify-content: center;
  padding-left: 140px;
  margin-bottom: 100px;
}
.content {
  display: inline-block;
}

.portfolio-card {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-snap-type: proximity;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}
.portfolio-card::-webkit-scrollbar {
  display: none;
}
.portfolio-card > div {
  margin-inline: 15px;
}
.card-main {
  background: #efefef;
}
.subtitle {
  font-family: "Poppins-semibold";
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  flex-direction: row;
  padding: 32px 32px 8px 32px;
}
.subtitle > h3 {
  width: auto;
  margin: 0px;
}
.subtitle > svg {
  margin: 0px;
}
.card-main > p {
  width: auto;
  margin: 0px;
  font-family: "Poppins-regular";
  font-size: 16px;
  padding: 0px 32px 32px 32px;
}
.card-below {
  background: #efefef;
  display: none;
}
.card-below > p {
  margin: 0px;
  font-family: "Poppins-regular";
  font-size: 16px;
  padding: 0px 32px 32px 32px;
}
.card {
  filter: grayscale(100%);
}
.card:hover {
  transition: 300ms;
  filter: grayscale(0%);
}
.card:hover .card-below {
  display: block;
  transition: 1s;
}
.gallery {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.gallery > h1 {
  margin-top: 150px;
  font-family: "Poppins-bold";
  font-size: 36px;
  margin-bottom: 10px;
}
.gallery > span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 350px;
  margin-bottom: 100px;
}
.img-container {
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  margin-left: 16px;
}
.gallery-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 20px;
}
.gallery-img > img {
  margin-bottom: 20px;
  filter: grayscale(100%);
}
.gallery-img > img:hover {
  filter: grayscale(0%);
  transition: 300ms;
}
.education-courses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.education-courses > h1 {
  margin-top: 130px;
  font-family: "Poppins-bold";
  font-size: 36px;
  margin-bottom: 0px;
}
.education-courses > span {
  display: flex;
  padding-left: 200px;
  margin-bottom: 100px;
}
.video-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}
.video-container > video {
  overflow: hidden;
  filter: grayscale(100%);
  display: flex;
  margin: 20px;
  width: 1000px;
  height: 600px;
}
video:hover,
video:focus {
  transition: 300ms;
  filter: none;
}
.cours {
  overflow: hidden;
  width: 500px;
  height: 600px;
  position: relative;
}
.fixed {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 81.67%;
  bottom: 0%;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed > h1 {
  color: #ffffff;
  font-family: "Poppins-semibold";
  position: absolute;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.cours > h1 {
  left: 18.8%;
  right: 18.6%;
  top: 30%;
  bottom: 37%;
  position: absolute;
  opacity: 30%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 128px;
  font-weight: 400;
}
.moving {
  height: 378px;
  width: 500px;
  top: 222px;
  padding-top: 36px;
  position: absolute;
  top: 100%;
  bottom: 0%;
  background: #212121;
  display: flex;
  justify-content: center;
}
.moving > h1 {
  color: #4361ee;
  font-family: "Poppins-semibold";
  position: absolute;
  font-weight: 600;
  font-size: 24px;
  margin-top: 94px;
  margin-bottom: 0px;
}
.moving > p {
  width: 362px;
  height: 69px;
  position: absolute;
  font-family: "Poppins-regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #bababa;
  margin-top: 150px;
}
.moving > button {
  width: 428px;
  height: 50px;
  position: absolute;
  color: #ffffff;
  font-family: "Poppins-regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  border: 0px;
  background: #4361ee;
  margin: 36px;
  margin-top: 260px;
}
.cours:hover > .moving {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  top: 37%;
}
.cours:hover > h1 {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  top: 1%;
  bottom: 60%;
  font-size: 96px;
}
.title-animate {
  color: #ffffff;
  overflow: hidden;
  display: flex;
  font-family: "Poppins-light";
  font-size: 20px;
  margin-bottom: 24px;
  justify-content: space-between;
}
.title-button {
  height: fit-content;
  display: inline-block;
  position: relative;
  align-items: center;
  padding: 10px 20px;
  margin-inline: 12px;
  border: 0px;
  border-radius: 100px;
  box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.01);
}
.title-animate > .back {
  flex: none;
  flex-wrap: nowrap;
  position: relative;
  justify-content: space-between;
  animation: icon-animate-back 30s infinite;
  animation-timing-function: linear;
  left: 0;
}
.title-animate > .forward {
  flex: none;
  flex-wrap: nowrap;
  position: relative;
  justify-content: space-between;
  animation: icon-animate-back 30s infinite;
  animation-timing-function: linear;
  left: 0;
}
.title-animate > .back-2 {
  flex: none;
  flex-wrap: nowrap;
  position: relative;
  justify-content: space-between;
  animation: icon-animate-back 30s infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}
.title-animate > .forward-2 {
  flex: none;
  flex-wrap: nowrap;
  position: relative;
  justify-content: space-between;
  animation: icon-animate-back 30s infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}
.recommendations {
  width: 100%;
  overflow-x: scroll;
}
.recommendations > h1 {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  font-family: "Poppins-bold";
  font-size: 36px;
  margin-bottom: 0px;
}
.recommendations > span {
  display: flex;
  justify-content: center;
  padding-left: 330px;
  margin-bottom: 100px;
}
.recommend {
  overflow: hidden;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-snap-type: x proximity;
  scroll-snap-align: center;
  margin-bottom: 250px;
}
.recommend-card {
  width: 400px;
  height: 230px;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  margin-inline: 20px;
  scroll-snap-align: center;
}
.recommend-card > div {
  display: flex;
}
.recommend-card > div > img {
  margin: 24px 0px 0px 24px;
  width: 62px;
  height: 62px;
  border-radius: 50px;
}
.recommend-name > h1 {
  font-family: "Poppins-bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #4361ee;
  margin: 24px 0px 8px 14px;
}
.recommend-name > h3 {
  margin: 0px;
  margin-left: 14px;
  margin-top: -15px;
  font-family: "Poppins-regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #848484;
}
.recommend-card > div > svg {
  margin: 32px 24px 24px 40px;
}
.recommend-card > p {
  white-space: normal;
  margin: 24px;
  font-family: "Poppins-regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.recommend-card {
  filter: grayscale(100%);
}
.recommend-card:hover {
  transition: 300ms;
  filter: grayscale(0%);
}
.email-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.email-box > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.email-box > h1 {
  font-family: "Poppins-bold";
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin: 0px;
  text-align: center;
}
.email-box > p {
  text-align: center;
  width: 635px;
  font-family: "Poppins-regular";
  color: #515151;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin-top: 36px;
  margin-bottom: 48px;
}
form {
  position: relative;
  width: 800px;
  height: 80px;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid #000000;
  box-sizing: border-box;
}
input {
  position: relative;
  font-family: "Poppins-regular";
  font-size: 26px;
  border: 0px;
  margin-left: 25px;
}
input::placeholder {
  color: #515151;
  font-size: 16px;
  margin: 0px;
}
.email-btn {
  background-color: #000000;
  color: #ffffff;
  border: 0px;
  width: 200px;
  height: 60px;
  margin-right: 10px;
}
footer {
  background-color: #efefef;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 120px;
  justify-content: center;
}
footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  width: 1520px;
  height: 120px;
}
.footer-icon {
  margin-right: 20px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.footer-icon > a {
  margin-left: 24px;
}
footer > div > h5 {
  margin: 0px;
  font-size: 24px;
  font-family: "Poppins-light";
}
::-webkit-scrollbar {
  display: none;
}

/*MacBoock & surface*/
/* @media all and (max-width: 1600px) {
  .container {
    margin-right: 100px;
    margin-left: 100px;
  }
  nav {
    display: flex;
    margin: 60px 100px 0px 100px;
  }
  .nav-link {
    top: 60px;
    right: 100px;
  }
  .landing-img {
    opacity: 30%;
    transition: 3s;
  }
  form {
    width: 600px;
    height: 60px;
    margin-bottom: 200px;
  }
  .email-btn {
    height: 40px;
  }
} */
@media only screen and (max-width: 1440px) {
  body {
    zoom: 75%;
  }
}
@media only screen and (min-width: 2000px) {
  body {
    zoom: 110%;
  }
}

/*Mobile Device*/
@media all and (max-width: 768px) {
  .landing-img {
    display: none;
  }
  .nav-btn {
    display: none;
  }
 
  .container-landing{
    justify-content: space-between;

    margin:0px 20px ;
  }
  .icon-header > svg {
    margin: 0px;
    width: 32px;
    height: 40px;
  }
  .landing {
    font-size: 26px;
    margin-top: 100px;
    width: fit-content;
  }
  .landing > h1 {
    margin: 0px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
  }
  .landing > p {
    margin-top: 10px;
    width: 398px;
    height: 114px;
    margin-bottom: 52px;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
  }
  .landing > h1 > div {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 210px;
    height: 54px;
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.01);
    border-radius: 50px;
  }
  .achiv > p {
    font-size: 18px;
  }
  .achiv > h4 {
    font-size: 14px;
  }
  .achiv {
    margin: 0px;
  }
  .icon-achiv {
    display: flex;
    justify-content: space-between;
  }
  .achiv-icon {
    margin: 8px;
    width: 40px;
    height: 40px;
  }
  .btn-blue {
    width: 100%;
    /* width: 398px; */
    height: 70px;
    margin-bottom: 80px;
  }
  .container {
    margin-right: 16px;
    margin-left: 16px;
  }
  nav {
    display: flex;
    margin: 64px 160px 0px 16px;
  }
  .nav-link {
    display: none;
  }
  .recent-project {
    margin-bottom: 96px;
  }
  .recent-project > h1 {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 10px;
  }
  .recent-project > h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
  }
  .recent-project > span {
    padding-left: 85px;
  }
  .completed-project > h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
  }
  .project-card {
    margin: 0px 16px 20px 16px;
  }

  .project-card {
    width: 398px;
    height: 572px;
  }
  .project-card > h2 {
    margin: 32px 25px 6px 25px;
  }
  .project-card > h4 {
    margin: 0px 25px 14px 25px;
  }
  .project-card > p {
    margin: 0px 26px 32px 25px;
  }

  .random-animate {
    margin-top: 80px;
  }
  .random-animate > div > img {
    width: 70px;
    height: 70px;
    margin-right: 30px;
  }
  .design-portfolio > h1 {
    display: flex;
    justify-content: center;
    margin-top: 70px;
  }
  .card {
    filter: grayscale(0%);
    width: 330px;
    height: 393px;
  }
  .card-below {
    display: block;
  }
  .gallery > h1 {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 100px;
    width: 320px;
    height: 84px;
    text-align: center;
  }
  .gallery > span {
    display: flex;
    justify-content: center;
    padding-left: 170px;
    margin-bottom: 100px;
  }
  .img-container {
    display: inline;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 150px;
  }
  #img44 {
    display: none;
  }
  #img42 {
    display: none;
  }
  #img43 {
    display: none;
  }
  .gallery-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 16px;
  }
  .gallery-img > img {
    margin: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .education-courses > h1 {
    margin-top: 0px;
  }
  .recommendations > h1 {
    margin-top: 100px;
    font-weight: 700;
    font-size: 28px;
    line-height: 54px;
  }
  .recommendations > span {
    padding-left: 220px;
  }
  .recommend-card {
    width: 330px;
    height: 188px;
    margin-inline: 10px;
    filter: grayscale(0%);
  }
  .recommend-name > h1 {
    font-size: 16px;
    margin: 16px 0px 8px 10px;
  }
  .recommend-name > h3 {
    font-size: 14px;
    margin-left: 10px;
    margin-top: -20px;
  }

  .recommend-card > div > img {
    width: 50px;
    height: 50px;
  }
  .recommend-card > p {
    width: 290px;
    height: 72px;
    line-height: 24px;
    font-size: 12px;
    margin-top: 16px;
  }
  .recommend {
    margin-bottom: 120px;
  }
  .video-container > video {
    width: 398px;
    height: 280px;
  }
  form {
    width: 400px;
    height: 52px;
    margin-bottom: 155px;
    flex-wrap: nowrap;
  }
  .email-btn {
    width: 100px;
    height: 44px;
    margin-right: 2px;
  }
  .email-box > p {
    width: 398px;
    height: 94px;
  }
  .cours {
    width: 398px;
    height: 398px;
  }
  .email-box > h1 {
    font-size: 28px;
  }
  input {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input::placeholder {
    font-size: 14px;
  }

  footer {
    background-color: #efefef;
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-between;
  }
  footer > div {
    width: 430px;
    height: 124px;
    justify-content: center;
  }

  .footer-icon {
    margin-right: 20px;
  }
  .footer-icon > a {
    margin-left: 24px;
  }
  .footer-icon > a > img {
    width: 40px;
    height: 40px;
  }
  footer > div > h5 {
    margin-top: -20px;
    font-size: 18px;
  }
}
