@font-face {
  font-family: "Poppins-bold";
  src: url(assets/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins-regular";
  src: url(assets/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins-medium";
  src: url(assets/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Poppins-light";
  src: url(assets/Poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: "Poppins-semibold";
  src: url(assets/Poppins/Poppins-SemiBold.ttf);
}
body {
  margin: 0px;
}
.container {
  width: 1520px;
  margin-right: 200px;
  margin-left: 200px;
}
nav {
  display: flex;
  margin: 60px 200px 0px 200px;
}
.icon-header {
  margin-right: 73px;
}
.nav-btn {
  border: 0px;
  background-color: white;
  font-family: "Poppins-regular";
  font-size: 18px;
  margin-right: 24px;
}
a {
  text-decoration: none;
}
.nav-link {
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 60px;
  right: 200px;
}
.nav-link > a {
  margin-bottom: 24px;
  font-size: 0px;
}

.landing {
  font-family: "Poppins-bold";
  font-size: 40px;
  margin-top: 140px;
  width: fit-content;
}
.landing > h1 {
  width: fit-content;
  margin: 0px;
  display: flex;
  align-items: center;
}
.landing > h1 > div {
  align-items: center;
  justify-content: center;
  background-color: #4361ee;
  border: none;
  color: #ffffff;
  font-family: poppins-light;
  font-size: 20.2px;
  padding: 10px 20px 10px 20px;
  border-radius: 30.5px;
  margin-left: 37px;
}
.landing-img {
  z-index: -1;
  position: absolute;
  left: 55.52%;
  right: 6.2%;
  top: 13.5%;
  bottom: 85.58%;
  mix-blend-mode: normal;
}

.landing > p {
  font-family: "Poppins-regular";
  font-size: 20.2px;
  margin-top: 24px;
  max-width: 794px;
  line-height: 38px;
  color: #767676;
  margin-bottom: 40px;
}
.icon-achiv {
  display: flex;
}
.achiv-icon {
  margin: 0px 25px 0px 25px;
}

.achiv > h4 {
  font-size: 16px;
  font-family: "Poppins-semibold";
  justify-content: center;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  margin-top: 0px;
}
.achiv > p {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: "Poppins-regular";
  margin-bottom: 52px;
  margin-top: 0px;
}
.achiv {
  margin-right: 70px;
}
.btn-blue {
  background-color: #4361ee;
  color: #ffffff;
  font-size: 20.2px;
  font-family: "Poppins-regular";
  padding: 20px 103px 20px 103px;
  border: none;
  margin-bottom: 129px;
}
.completed-project {
  width: 100%;
  height: 594px;
  background-color: #1a1a1a;
  color: #ffffff;
}
.completed-project > h1 {
  color: #ffffff;
  font-size: 36px;
  height: fit-content;
  font-family: "Poppins-bold";
  display: flex;
  justify-content: center;
  padding-top: 100px;
  margin: 0px;
}
.completed-project > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}
.h2-number {
  font-size: 40px;
  font-family: "Poppins-bold";
  margin-top: 12px;
  margin-bottom: 32px;
}
.icon-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  font-size: 24px;
  height: fit-content;
  font-family: "Poppins-medium";
  margin: 0px 105px;
}
.icon-card > p {
  margin: 0px;
}
.recent-project > h1 {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  font-family: "Poppins-bold";
  font-size: 36px;
  margin-bottom: 10px;
}
.recent-project > span {
  display: flex;
  justify-content: center;
  padding-left: 140px;
}
.recent-project-card {
  display: flex;
  justify-content: center;
}
.project-card {
  margin: 100px 10px 200px 10px;
  width: 500px;
  height: 550px;
  background-color: #efefef;
  position: relative;
  overflow: hidden;
}

.project-card > h2 {
  font-family: "Poppins-semibold";
  font-size: 24px;
  margin-left: 32px;
  margin-top: 32px;
  margin-bottom: 6px;
  margin: 32px 32px 6px 32px;
}
.project-card > h4 {
  font-family: "Poppins-regular";
  color: #848484;
  font-size: 16px;
  margin: 0px 32px 16px 32px;
}
.project-card > p {
  font-family: "Poppins-regular";
  color: #323232;
  font-size: 16px;
  margin: 0px 32px 40px 32px;
  letter-spacing: 0.4px;
}
.project-card > img {
  text-align: center;
}
.project-card > h5 {
  font-family: "Poppins-regular";
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  display: flex;
  top: 100px;
  right: 204px;
  z-index: -1;
}
.project-card > div {
  overflow: hidden;
}
.project-card:hover > div > img {
  transition: 300ms;
  z-index: -2;
  filter: blur(4px);
  transform: scale(1.2);
}
.project-card:hover > h5 {
  transition: 300ms;
  z-index: 0;
}
.random-animate {
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.animate-container-forward {
  display: flex;
  position: relative;
  justify-content: space-between;
  animation: icon-animate-back 20s infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
  left: 0;
}
.animate-container-back {
  display: flex;
  position: relative;
  justify-content: space-between;
  animation: icon-animate-back 20s infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
  left: 0;
}
.animate-container-forward > img {
  margin-right: 40px;
}
.animate-container-back > img {
  margin-right: 40px;
}
@keyframes icon-animate-forward {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes icon-animate-back {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.design-portfolio > h1 {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  font-family: "Poppins-bold";
  font-size: 36px;
  margin-bottom: 10px;
}
.design-portfolio > span {
  display: flex;
  justify-content: center;
  padding-left: 140px;
  margin-bottom: 100px;
}
.portfolio-card {
  overflow: hidden;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-snap-type: x proximity;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}
.portfolio-card::-webkit-scrollbar {
  display: none;
}
.portfolio-card > div {
  margin-inline: 15px;
  display: inline-block;
  scroll-snap-align: center;
}
.card-main {
  background: #efefef;
}
.subtitle {
  font-family: "Poppins-semibold";
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  flex-direction: row;
  padding: 32px 32px 8px 32px;
}
.subtitle > h3 {
  width: auto;
  margin: 0px;
}
.subtitle > svg {
  margin: 0px;
}
.card-main > p {
  width: auto;
  margin: 0px;
  font-family: "Poppins-regular";
  font-size: 16px;
  padding: 0px 32px 32px 32px;
}
.card-below {
  background: #efefef;
  display: none;
}
.card-below > p {
  margin: 0px;
  font-family: "Poppins-regular";
  font-size: 16px;
  padding: 0px 32px 32px 32px;
}
.card {
  filter: grayscale(100%);
}
.card:hover {
  transition: 300ms;
  filter: grayscale(0%);
}
.card:hover .card-below {
  display: block;
  transition: 1s;
}

.gallery > h1 {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  font-family: "Poppins-bold";
  font-size: 36px;
  margin-bottom: 10px;
}
.gallery > span {
  display: flex;
  justify-content: center;
  padding-left: 350px;
  margin-bottom: 100px;
}
.img-container {
  overflow: scroll;
  display: flex;
  margin-left: 20px;
  margin-bottom: 150px;
}
.gallery-img {
  margin-right: 20px;
}
.gallery-img > img {
  margin-bottom: 20px;
}
.education-courses > h1 {
  display: flex;
  justify-content: center;
  margin-top: 130px;
  font-family: "Poppins-bold";
  font-size: 36px;
  margin-bottom: 0px;
}
.education-courses > span {
  display: flex;
  justify-content: center;
  padding-left: 200px;
  margin-bottom: 100px;
}
.video-container {
  display: flex;
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 100px;
  justify-content: space-between;
}
.video-container > video {
  filter: grayscale(100%);
  width: 1000px;
  height: 600px;
  left: 519px;
  top: 0px;
}
video:hover,
video:focus {
  transition: 300ms;
  filter: none;
}
.cours {
  overflow: hidden;
  width: 500px;
  height: 600px;
  position: relative;
}
.fixed {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 81.67%;
  bottom: 0%;
  background-color: #212121;
  display: flex;
  justify-content: center;
}

.fixed > h1 {
  margin-top: 37px;
  color: #ffffff;
  font-family: "Poppins-semibold";
  position: absolute;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.cours > h1 {
  left: 18.8%;
  right: 18.6%;
  top: 30%;
  bottom: 37%;
  position: absolute;
  opacity: 30%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 128px;
  font-weight: 400;
}
.moving {
  height: 378px;
  width: 500px;
  top: 222px;
  padding-top: 36px;
  position: absolute;
  top: 100%;
  bottom: 0%;
  background: #212121;
  display: flex;
  justify-content: center;
}
.moving > h1 {
  color: #4361ee;
  font-family: "Poppins-semibold";
  position: absolute;
  font-weight: 600;
  font-size: 24px;
  margin-top: 94px;
  margin-bottom: 0px;
}
.moving > p {
  width: 362px;
  height: 69px;
  position: absolute;
  font-family: "Poppins-regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #bababa;
  margin-top: 150px;
}
.moving > button {
  width: 428px;
  height: 50px;
  position: absolute;
  color: #ffffff;
  font-family: "Poppins-regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  border: 0px;
  background: #4361ee;
  margin: 36px;
  margin-top: 260px;
}
.cours:hover > .moving {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  top: 37%;
}
.cours:hover > h1 {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  top: 1%;
  bottom: 60%;
  font-size: 96px;
}
.title-animate {
  color: #ffffff;
  overflow: hidden;
  display: flex;
  font-family: "Poppins-light";
  font-size: 20px;
  margin-bottom: 24px;
  scroll-snap-align: center;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  justify-content: space-between;
}
.title-button {
  height: fit-content;
  display: inline-block;
  position: relative;
  align-items: center;
  padding: 10px 20px;
  margin-inline: 12px;
  border: 0px;
  border-radius: 100px;
  box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.01);
}
.title-animate > .back {
  flex: none;
  flex-wrap: nowrap;
  position: relative;
  justify-content: space-between;
  animation: icon-animate-back 20s infinite;
  animation-timing-function: linear;
  left: 0;
}
.title-animate > .forward {
  flex: none;
  flex-wrap: nowrap;
  position: relative;
  justify-content: space-between;
  animation: icon-animate-back 20s infinite;
  animation-timing-function: linear;
  left: 0;
}
.title-animate > .back-2 {
  flex: none;
  flex-wrap: nowrap;
  position: relative;
  justify-content: space-between;
  animation: icon-animate-back 20s infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}
.title-animate > .forward-2 {
  flex: none;
  flex-wrap: nowrap;
  position: relative;
  justify-content: space-between;
  animation: icon-animate-back 20s infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}
.recommendations > h1 {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  font-family: "Poppins-bold";
  font-size: 36px;
  margin-bottom: 0px;
}
.recommendations > span {
  display: flex;
  justify-content: center;
  padding-left: 365px;
  margin-bottom: 100px;
}
.recommend {
  overflow: hidden;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-snap-type: x proximity;
  scroll-snap-align: center;
  margin-bottom: 250px;
}

.recommend-card {
  width: 400px;
  height: 230px;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  margin-inline: 20px;
  scroll-snap-align: center;
}
.recommend-card > div {
  display: flex;
}
.recommend-card > div > img {
  margin: 24px 0px 0px 24px;
  width: 62px;
  height: 62px;
  border-radius: 50px;
}
.recommend-name > h1 {
  font-family: "Poppins-bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #4361ee;
  margin: 24px 0px 8px 14px;
}
.recommend-name > h3 {
  margin: 0px;
  margin-left: 14px;
  margin-top: -15px;
  font-family: "Poppins-regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #848484;
}
.recommend-card > div > svg {
  margin: 32px 24px 24px 40px;
}
.recommend-card > p {
  white-space: normal;
  margin: 24px;
  font-family: "Poppins-regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.recommend-card:not(:nth-child(3)) {
  filter: grayscale(100%);
}
.recommend-card:hover {
  transition: 300ms;
  filter: grayscale(0%);
}
.email-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.email-box > h1 {
  font-family: "Poppins-bold";
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin: 0px;
}
.email-box > p {
  text-align: center;
  width: 635px;
  font-family: "Poppins-regular";
  color: #515151;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin-top: 36px;
  margin-bottom: 48px;
}
form{
  position: relative;
  width: 800px;
  height: 80px;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #000000;
  box-sizing: border-box;
}
input {
  position: relative;
  font-family: "Poppins-regular";
  font-size: 26px;
  width: 500px;
  height: 40px;
  border: 0px;
  margin-left: 25px;
}
input::placeholder {
  color: #515151;
  font-size: 16px;
  margin: 0px;
}
.email-btn {
  background-color: #000000;
  color: #ffffff;
  border: 0px;
  width: 200px;
  height: 60px;
  margin-right: 10px;
}
footer {
  background-color: #efefef;
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: space-between;
}
footer > div {
  margin-right: 20px;
}
footer > div > a {
  margin-left: 24px;
}
footer > h5 {
  margin-left: 200px;
  font-size: 24px;
  font-family: "Poppins-light";
}
::-webkit-scrollbar {
  display: none;
}
